# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
npm-debug.log*
yarn-error.log

# Firebase configuration files (sensitive data)
google-services.json
GoogleService-Info.plist


# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/
babel-loader-cache/
metro-cache/
cache/


# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Lock files (choose one based on package manager)
package-lock.json
yarn.lock

# Firebase Firestore rules and indexes (optional)
firestore.rules.bkp
firestore.indexes.json.bkp

serviceAccountKey.json

.vscode/
.idea/
firebase/google-services.json
