<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMPtil2-YBOh50-AuDcea_1l4-0gy1PMc</string>
	<key>GCM_SENDER_ID</key>
	<string>536889922375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yhkim.tictactoe</string>
	<key>PROJECT_ID</key>
	<string>tictactoeapp-5fb1a</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoeapp-5fb1a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536889922375:ios:c2dd21dac581cdcb52b262</string>
</dict>
</plist>